body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 97vh;
}

a {
  color: #00b7ff;
}
#search-by{
  background-color: silver;
}
.dropdown-item{
  text-align: center;
}

.void{
border:none;
background-color: inherit;
width: 75%;
text-align: center;
}

.void:disabled{
  color: inherit;
}